.infoWrapper {
    padding: 2% 1% 1% 1%;
}

.infoWrapper div {
    display: block; 
    margin-right: 10px;  
    font-size: 20px;
    font-family: arial, sans-serif;
    color: #404342;
    margin-bottom: 5px;  
}

.date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
}

.text-color {
    color: rgb(94, 122, 242);
    margin: 0px 10px 0px 10px;
}

@media only screen and (max-width: 320px) { 
    .infoWrapper div {
        font-size: 14px;
    }

    .text-color {
        margin: 0px;
    }
}