/* @media only screen and (min-width: 321px) and (max-width: 768px) {
    body {
        min-width: 322px;
        max-width: 768px;
        width: 100%;
        font-size: 14px;
        margin: 0px;
    } 
} */